:root {
    --ab: #039be5;
    --ao: #ffa100;
    --bg: #ECEFF1;
    --bgb: #f1f3f4;
    --bgh: #e8eaed;
    --ptc: #202124;
    --stc: #4e5257;
    --ttc: #bdc1c6;
    --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --tbshadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
    --trans: width 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
  }

@keyframes ldio-gpbbhzzh67p {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.ldio-gpbbhzzh67p div {
    left: 47.5px;
    top: 27.5px;
    position: absolute;
    animation: ldio-gpbbhzzh67p linear 2.4390243902439024s infinite;
    background: #ffffff;
    width: 5px;
    height: 5px;
    border-radius: 1.1500000000000001px / 1.1500000000000001px;
    transform-origin: 2.5px 22.5px;
}

.ldio-gpbbhzzh67p div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -2.2865853658536586s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(2) {
    transform: rotate(22.5deg);
    animation-delay: -2.1341463414634148s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(3) {
    transform: rotate(45deg);
    animation-delay: -1.981707317073171s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(4) {
    transform: rotate(67.5deg);
    animation-delay: -1.829268292682927s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(5) {
    transform: rotate(90deg);
    animation-delay: -1.676829268292683s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(6) {
    transform: rotate(112.5deg);
    animation-delay: -1.524390243902439s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(7) {
    transform: rotate(135deg);
    animation-delay: -1.3719512195121952s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(8) {
    transform: rotate(157.5deg);
    animation-delay: -1.2195121951219512s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(9) {
    transform: rotate(180deg);
    animation-delay: -1.0670731707317074s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(10) {
    transform: rotate(202.5deg);
    animation-delay: -0.9146341463414634s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(11) {
    transform: rotate(225deg);
    animation-delay: -0.7621951219512195s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(12) {
    transform: rotate(247.5deg);
    animation-delay: -0.6097560975609756s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(13) {
    transform: rotate(270deg);
    animation-delay: -0.4573170731707317s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(14) {
    transform: rotate(292.5deg);
    animation-delay: -0.3048780487804878s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(15) {
    transform: rotate(315deg);
    animation-delay: -0.1524390243902439s;
    background: #ffffff;
}

.ldio-gpbbhzzh67p div:nth-child(16) {
    transform: rotate(337.5deg);
    animation-delay: 0s;
    background: #ffffff;
}

.loadingio-spinner-spinner-h9242q2dhnj {
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
    background: none;
    position: fixed;
    top: calc((100vh - 100px)/2);
    left: calc((100vw - 100px)/2);
    z-index: 5;
}

.ldio-gpbbhzzh67p {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-gpbbhzzh67p div {
    box-sizing: content-box;
}

#loader {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
}

*:focus {
    outline: none;
}

@import url('./assets/ProductSans-Regular.ttf');

.hidden {
    display: none;
}

body {
    font-family: 'Prompt', sans-serif;
    background: var(--bg);
    /*background: linear-gradient(60deg, rgba(119, 186, 255, 1) 0%, rgba(91, 134, 249, 1) 15%, rgba(255, 104, 141, 1) 86%, rgba(255, 165, 165, 1) 100%);*/
}

label {
    display: block;
    font-size: 0.8em;
    font-weight: 300;
    color: #999999;
    margin-left: 10px;
    float: left;
  }

  input {
    font-size: 0.9em;
    padding-left: 8px;
    display: block;
    position: relative;
    height: 40px;
    border: 0;
    border-radius: 4px;
    color: var(--stc);
    width: 280px;
    outline: none;
    background-color: var(--bgb);
    transition: var(--trans);
    font-family: Roboto, sans-serif;
  }

  input:focus {
    background-color: white;
    box-shadow: var(--tbshadow);
    color: var(--ptc);
  }
  input:hover {
    background-color: var(--bgh);
    color: var(--ptc);
  }

  input::placeholder {
    color: var(--ttc);
  }

  input.submit,
  input.sendOTP {
    color: white;
    padding: 0;
    background: var(--ab);
    box-shadow: var(--shadow);
    /*background: linear-gradient(50deg, rgba(119, 186, 255, 1) 0%, rgb(126, 165, 255) 5%, rgba(255, 104, 141, 1) 95%, rgba(255, 165, 165, 1) 100%);*/
  }

nav.bottom span {
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: calc((100vw - 4 * 36px)/8);
    padding-right: calc((100vw - 4 * 36px)/8);
    margin: 0;
}

.nav-inactive {
    border-top: 2px solid #fff;
    color: var(--stc);
}

.nav-active {
    color: var(--ab);
    border-top: 2px solid var(--ab);
}

div.head {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background: #fff;
    color: var(--ab);
    box-shadow: var(--shadow);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

div.content {
    min-height: calc(100vh - 198px - 57px);
    max-height: calc(100vh - 198px);
    box-shadow: var(--shadow);
    width: 100%;
    padding: 10px 20px 10px 20px;
    background: #fff;
}

div.welcome div.content {
    min-height: auto;
}

div.setting div.head {
    background-color: #aee600;
}

div.setting div.content {
    /* width: 280px;
    height: 420px;
    background: #ffffff;
    position: fixed;
    top: 134px;
     */
    transition: height 0.5s ease-in-out;
    overflow-y: hidden;
    box-shadow: var(--shadow);
    border-radius: 4px;
    padding: 12px;
    z-index: 4;
    background-image: url(./media/back.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

div.setting div.content img {
    height: 80px;
    border-radius: 50%;
    margin: 50px 10px 10px 10px;
    box-shadow: 1px 3px 4px 0px rgb(0 0 0 / 40%);
}

div.setting div.content input {margin-top: 15px;}

.empty {
    border: 2px solid red;
}

nav.top div.login {
    padding: 6px 10px 6px 10px;
    margin: 9px;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #f5f9ff;
    transition: var(--trans);
}

.fr { float: right;}
      
nav.top div.login:hover {
    background-color: #e8f0fe;
    box-shadow: var(--tbshadow);
}

div.history div.content {
    background-image: url("./media/noti.jpg");
    background-size: cover;
    overflow-y: scroll;
}

div.notify{
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
    color: var(--ttc);
    box-shadow: var(--tbshadow );
    backdrop-filter: blur(10px);
    margin-bottom: 15px;
}
